@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --accept-cookie-text: "Accept cookies";
}

.blur_background {
  /* From https://css.glass */
backdrop-filter: blur(4.7px);
-webkit-backdrop-filter: blur(4.7px);
}